.chroma { /* Background */
    color: #333;
    line-height: 1.2em;
    font-size: 1em;
}

.chroma .lntd { /* LineTableTD */
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .lntable { /* LineTable */
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}

.chroma .hl { /* LineHighlight */
    display: block;
    width: 100%;
    background-color: #ffffcc
}

.chroma .lnt { /* LineNumbersTable */
    margin-right: 0.7em;
    padding: 0 0.4em 0 0.4em;
    font-size: 0.83em;
    color: #ccc;
    line-height: 1.2em;
}

.chroma .ln { /* LineNumbers */
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
}

.chroma .k { /* Keyword */
    color: #9B2393;
    font-weight: bold;
}

.chroma .kc { /* KeywordConstant */
    color: #9B2393;
    font-weight: bold;
}

.chroma .kd { /* KeywordDeclaration */
    color: #9B2393;
    font-weight: bold;
}

.chroma .kn { /* KeywordNamespace */
    color: #9B2393;
    font-weight: bold;
}

.chroma .kp { /* KeywordPseudo */
    color: #9B2393;
    font-weight: bold;
}

.chroma .kr { /* KeywordReserved */
    color: #9B2393;
    font-weight: bold;
}

.chroma .kt { /* KeywordType */
    color: #9B2393;
    font-weight: bold;
}

.chroma .n { /* Name */
    color: #1A2B4F
}

.chroma .na { /* NameAttribute */
    color: #333
}

.chroma .nb { /* NameBuiltin */
    color: #333
}

.chroma .bp { /* NameBuiltinPseudo */
    color: #333
}

.chroma .nc { /* NameClass */
    color: #333
}

.chroma .no { /* NameConstant */
    color: #333
}

.chroma .nd { /* NameDecorator */
    color: #333
}

.chroma .ni { /* NameEntity */
    color: #333
}

.chroma .ne { /* NameException */
    color: #333
}

.chroma .nf { /* NameFunction */
    color: #333
}

.chroma .fm { /* NameFunctionMagic */
    color: #333
}

.chroma .nl { /* NameLabel */
    color: #3900A0
}

.chroma .nn { /* NameNamespace */
    color: #333
}

.chroma .nx { /* NameOther */
    color: #333
}

.chroma .py { /* NameProperty */
    color: #333
}

.chroma .nt { /* NameTag */
    color: #333;
}

.chroma .nv { /* NameVariable */
    color: #333
}

.chroma .vc { /* NameVariableClass */
    color: #333
}

.chroma .vg { /* NameVariableGlobal */
    color: #333
}

.chroma .vi { /* NameVariableInstance */
    color: #333
}

.chroma .vm { /* NameVariableMagic */
    color: #333
}

.chroma .l { /* Literal */
    color: #1C00CF
}

.chroma .ld { /* LiteralDate */
    color: #1C00CF
}

.chroma .s { /* LiteralString */
    color: #C41A16
}

.chroma .sa { /* LiteralStringAffix */
    color: #C41A16
}

.chroma .sb { /* LiteralStringBacktick */
    color: #C41A16
}

.chroma .sc { /* LiteralStringChar */
    color: #C41A16
}

.chroma .dl { /* LiteralStringDelimiter */
    color: #C41A16
}

.chroma .sd { /* LiteralStringDoc */
    color: #C41A16
}

.chroma .s2 { /* LiteralStringDouble */
    color: #C41A16
}

.chroma .se { /* LiteralStringEscape */
    color: #C41A16
}

.chroma .sh { /* LiteralStringHeredoc */
    color: #C41A16
}

.chroma .si { /* LiteralStringInterpol */
    color: #C41A16
}

.chroma .sx { /* LiteralStringOther */
    color: #C41A16
}

.chroma .sr { /* LiteralStringRegex */
    color: #C41A16
}

.chroma .s1 { /* LiteralStringSingle */
    color: #C41A16
}

.chroma .ss { /* LiteralStringSymbol */
    color: #C41A16
}

.chroma .m { /* LiteralNumber */
    color: #1C00CF;
}

.chroma .mb { /* LiteralNumberBin */
    color: #1C00CF;
}

.chroma .mf { /* LiteralNumberFloat */
    color: #1C00CF;
}

.chroma .mh { /* LiteralNumberHex */
    color: #1C00CF;
}

.chroma .mi { /* LiteralNumberInteger */
    color: #1C00CF;
}

.chroma .il { /* LiteralNumberIntegerLong */
    color: #1C00CF;
}

.chroma .mo { /* LiteralNumberOct */
    color: #1C00CF;
}

.chroma .o { /* Operator */
    color: #333
}

.chroma .ow { /* OperatorWord */
    color: #859900
}

.chroma .c { /* Comment */
    color: #93a1a1;
    font-style: italic
}

.chroma .ch { /* CommentHashbang */
    color: #93a1a1;
    font-style: italic
}

.chroma .cm { /* CommentMultiline */
    color: #93a1a1;
    font-style: italic
}

.chroma .c1 { /* CommentSingle */
    color: #93a1a1;
    font-style: italic
}

.chroma .cs { /* CommentSpecial */
    color: #93a1a1;
    font-style: italic
}

.chroma .cp { /* CommentPreproc */
    color: #93a1a1;
    font-style: italic
}

.chroma .cpf { /* CommentPreprocFile */
    color: #93a1a1;
    font-style: italic
}

.chroma .g { /* Generic */
    color: #d33682
}

.chroma .gd { /* GenericDeleted */
    color: #d33682
}

.chroma .ge { /* GenericEmph */
    color: #d33682
}

.chroma .gr { /* GenericError */
    color: #d33682
}

.chroma .gh { /* GenericHeading */
    color: #d33682
}

.chroma .gi { /* GenericInserted */
    color: #d33682
}

.chroma .go { /* GenericOutput */
    color: #d33682
}

.chroma .gp { /* GenericPrompt */
    color: #d33682
}

.chroma .gs { /* GenericStrong */
    color: #d33682
}

.chroma .gu { /* GenericSubheading */
    color: #d33682
}

.chroma .gt { /* GenericTraceback */
    color: #d33682
}

.chroma .gl { /* GenericUnderline */
    color: #d33682
}
